@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}


body {
    background: #fff;
    color: #222;
    animation: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d9d9d9 !important;
    padding: 20px 30px;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.logo {
    margin-left: 10px;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #2b2b2b;
    font-weight: bold;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline dotted #D60E0E 2px;
    text-underline-offset: 3px;
}

.nav a.active {
    color: #D60E0E;
}

.user-icon img {
    cursor: pointer;
    filter: brightness(80%);

}

.user-popup {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #880000;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(77, 77, 77);
    width: 320px;
    z-index: 100;
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform: translateY(-10px);
}


.user-icon:hover .user-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


.user-icon:hover .user-popup {
    display: block;
}


.sair {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.sair:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.sair a {
    text-decoration: none;
    color: #b10707;
    border: none;
    font-weight: bold;
}

.sair a:hover {
    text-decoration: underline dotted;
    text-underline-offset: 4px;
}

.editar {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.editar:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.editar a {
    text-decoration: none;
    color: #505050;
    border: none;
    font-weight: bold;
}

.editar a:hover {
    text-decoration: underline dotted;
    text-underline-offset: 4px;
}

.btn-close {
    position: fixed;
    top: 120px;
    left: 20px;
    transform: rotate(180deg);
    background-color: #d4d4d4;
    color: #383838;
    border: none;
    padding: 7px 12px;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.6s ease, transform 0.6s ease, top 1s ease;
}

.btn-close:hover {
    background-color: #eea7a7;
    transform: rotate(180deg) scale(1.05);
}

.btn-close.scrolled {
    top: 20px;
}


.main-content {
    flex-grow: 1; 
    width: 60%;
    margin: 30px auto;
    animation: fadeIn 1s ease;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-header h1 {
    font-size: 32px;
    color: #000000;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.section-header h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #D60E0E;
    border-radius: 2px;
}

.create-btn {
    background-color: #494949;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.create-btn:hover {
    background-color: #990707;
}


.election-card {
    display: flex;
    background-color: #D60E0E;
    border-radius: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    color: white;
}

.election-past {
    background-color: #4b4b4b;
}

.election-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100px;
    text-align: center;
}

.election-id span {
    font-size: 20px;
    font-weight: bold;
}

.election-details {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 15px 20px;
}

.election-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.election-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.election-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 20px;
}

.election-date {
    margin-bottom: 5px;
    font-size: 14px;
}

.election-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.btn-edit,
.btn-cancel,
.btn-delete,
.btn-pdf {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;

    border: none;
    outline: none;
}

.btn-edit {
    background-color: #007a29;
    color: white;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
}

.btn-cancel {
    background-color: #dddddd;
    color: rgb(61, 61, 61);
}

.btn-pdf {
    background-color: #ff6200;
    color: white;
}

.btn-edit:hover,
.btn-cancel:hover,
.btn-delete:hover,
.btn-pdf:hover {
    transform: scale(1.05);
}

.section-title {
    font-size: 28px;
    margin: 40px 0 20px 0;
    color: #222;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.section-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #575757;
    border-radius: 2px;
}

.ver-mais {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    text-align: right;
}

.btn-ver-mais {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.news-section {
    margin-top: 80px;
    max-width: 1200px;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.news-header h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    position: relative;
}

.news-header h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #D60E0E;
    border-radius: 2px;
}

.news-filter {
    margin-bottom: 20px;
}

.filter-active {
    color: #666;
    font-size: 14px;
    font-weight: 500;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    margin-bottom: 2%;
    justify-content: start;
}


.news-card {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    background-color: #eeeeee;
    min-height: 250px;
    max-height: 400px;
    flex-direction: column;
    transition: transform 0.2s ease;
    box-shadow: 0px 0px 6px rgba(121, 120, 120, 0.7);
}

.news-card:hover {
    transform: scale(1.02);
}


.card-content {
    color: rgb(59, 59, 59);
    padding: 20px;
}

.card-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.card-content p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.publication-date {
    font-size: 12px;
    margin-top: 20px;
}

.card-actions {
    background-color: #d1d1d1;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.delete-btn {
    background-color: #800;
    transition: background 0.3s;
    color: #e0e0e0;
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.delete-btn:hover {
    background-color: #530000;
}

@media (max-width: 768px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

.container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    padding-bottom: 1px;
    margin-bottom: 30px;
}

.containerAlunos{
    background: white;
    border-radius: 15px;
    height: 500px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto; 
    overflow-x: auto;
    padding-bottom: 1px;
    margin-bottom: 30px;
    overflow-y: scroll;
}

.containerView {
    background: white;
    border-radius: 15px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto; 
    overflow-x: auto;
    padding-bottom: 1px;
    margin-bottom: 30px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: white;
    border-bottom: 1px solid #e0e0e0;
}

.table-header h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-decoration: underline;
    text-decoration-color: #dc2626;
    text-underline-offset: 5px;
}

.ver-todos-btn {
    background: #494949;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
}

.ver-todos-btn:hover {
    background: #990707;
}

.table-container {
    overflow-x: auto;
}

.tabelaScroll{
    overflow-y: scroll;
}

.headerTabela{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px; 
    margin-bottom: 20px;
    max-width: 1200px;
    width: 95%; 
    margin-left: auto;
    margin-right: auto;
}

.headerTabela h2{
    text-decoration: underline;
    text-decoration-color: #dc2626;
    text-underline-offset: 5px;
    margin-right: 25px;
}

.headerTabela input{
    border-radius: 12px 0 0 12px;
    border: 1px solid gray;
    padding: 7px;
}

.containerLupa{
    background-color: #ebebeb;
    border-radius: 0px 15px 15px 0px;
    width: 50px;
    height: 36px;
    padding: 5px;
    border: 1px solid gray;
    margin-left: -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLupa img{
    width: 20px;
    height: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #a71717;
    color: white;
}

th {
    padding: 12px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

tbody tr {
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s;
}

tbody tr:hover {
    background-color: #e4e4e4;
}

td {
    padding: 12px;
    font-size: 12px;
    color: #333;
}

.actions {
    display: flex;
    gap: 8px;
    align-items: center;
}

.action-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
}

.action-btn:hover {
    transform: scale(1.1);
    background-color: #b9b9b9;
}

.tableEdit-btn {
    background: #d8d8d8;
    color: black;
}

.tabledelete-btn {
    background: #d8d8d8;
    color: black;
}

.tableSave-btn {
    background-color: #bebebe;
    color: white;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 17px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 6px;
    transition: transform 0.2s;
}

.tableCancel-btn {
    background-color: #bebebe;
    color: white;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 17px;
    border-radius: 50%;
    transition: transform 0.2s;
    cursor: pointer;
    color: black;
}

.tableSave-btn:hover,
.tableCancel-btn:hover {

    transform: scale(1.1);
    background-color: #b9b9b9;
}


@media (max-width: 768px) {
    .container {
        margin: 0;
        border-radius: 0;
    }

    .table-header {
        flex-direction: column;
        gap: 16px;
        align-items: stretch;
    }

    th,
    td {
        padding: 12px 8px;
        font-size: 12px;
    }

    .action-btn {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.modalCriar {
    border-radius: 40px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-42%, -50%);
}

.election-title {
    text-align: center;
}

.modal-left,
.modal-right {
    padding: 30px;
    width: 50%;
}

.modal-left {
    background-color: #cfcfcf;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 30px;

}

.modal-right {
    background-color: rgb(241, 241, 241);
}

.modal h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.modal-right h2 {
    color: #D60E0E;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

.form-control {
    margin-top: 8px;
    border: 2px solid #444444;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.two-col {
    display: flex;
    gap: 10px;
}

.two-col .form-group {
    flex: 1;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row .form-group {
    flex: 1;
    max-width: 49%;
}



.submit-btn {
    background-color: #D60E0E;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #990707;
}

.modal-right h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.close-btn {
    position: absolute;
    margin-left: 19%;
    background-color: #e6e6e6;
    color: #383838;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;    
    border: 1px solid #aaaaaa;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.close-btn:hover {
    background-color: #eea7a7;
}

.close-btn2 {
    position: absolute;
    margin-left: 39.5%;
    background: #e6e6e6;
    color: #383838;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 1.4em;
    cursor: pointer;    
    border: 1px solid #ccc;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.close-btn2:hover {
    background-color: #eea7a7;
}

#candidatos-editar-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 550px;
    overflow-y: auto;
    padding-right: 5px;
}

.candidate-item2 {
    background: #e6e6e6;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.2s ease;
}

/* Nome */
.candidate-item2 strong {
    font-size: 16px;
    color: #333;
}

/* RA */
.candidate-item2 span {
    font-size: 14px;
    color: #555;
}

.atention-card {
    font-weight: bold;
}

.confirmacao-cancelar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 300px;
    animation: aparecer 0.3s ease-in-out;
}

.botoes-confirmacao {
    margin-top: 10px;
    text-align: right;
}

.btn-confirmar,
.btn-negar {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-confirmar {
    background-color: #d9534f;
    color: white;
}

.btn-negar {
    background-color: #6c757d;
    color: white;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    background: #d9d9d9;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    font-size: 16px;
    flex-shrink: 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 48px;
    margin: auto;
    font-weight: bold;
}

.footer-links {
    justify-content: space-around;
    display: flex;
    gap: 60px;
    width: 80%;
}

.footer-links h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: #880000;
    transition: 1s;
}

.footer-links a:hover {
    text-decoration: underline dotted;
    text-underline-offset: 4px;
    color: #222;
}

.footer-bottom {
    text-align: center;
    background: #D60E0E;
    color: white;
    padding: 12px;
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
}