@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        animation: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    width: 600px;
    height: 750px;
    overflow: hidden;
    border-radius: 30px;
}

.background {
    position: absolute;
    width: 160px;
    height: 60%;
    margin-top: 23%;
    background-color: #D60E0E;
    border-radius: 30px;
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.5s ease;
    opacity: 1;
    pointer-events: auto;
}

.container.hide-background .form-container {
    opacity: 0;
    pointer-events: none;
}


.form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.form-box {
    background-color: #d9d9d9;
    padding: 40px;
    height: 90%;
    width: 450px;
    border-radius: 30px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: absolute;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #000;
    font-size: 14px;
}

.form-box label {
    font-weight: bold;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 9px;
}

.checkbox input[type="checkbox"] {
    margin-top: 12px;
    width: 13px;
    height: 13px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff6f6;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.checkbox input[type="checkbox"]:checked {
    background-color: white;
}

.checkbox input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 4px;
    height: 8px;
    border: solid #D60E0E;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

.checkbox input[type="checkbox"]:checked::after {
    display: block;
}


.form-box .link {
    margin-bottom: 20px;    
    font-weight: bold;
}

.form-box .link a {
    color: #e21b1b;
}

.form-box button {
    width: 100%;
    background-color: #D60E0E;
    color: white;
    border: none;
    padding: 25px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 24px;
    cursor: pointer;
}

.form-box.login {
    transform: translateX(0);
    opacity: 1;
}

.form-box.register {
    transform: translateX(100%);
    opacity: 0;
}

.container.active .form-box.login {
    transform: translateX(-100%);
    opacity: 0;
}

.container.active .form-box.register {
    transform: translateX(0);
    opacity: 1;
}

.container.active .background {
    transform: translateX(430px);
}